 
  // top: 0;
  // left: 0;
  // overflow: hidden;
  // background: black;
  

  .animado {
    animation: aparece 10s;
  }
  .about-me {
    
    // top: 100%;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 5% 0;
    justify-content: space-evenly;
    div img {
      
      // left: 50%;
      border-radius: 50%;
      width: 25vw;
      // top: 15vh;
    }
    .about-me_texto {
      display: flex;
      flex-direction: column;
      // top: -35rem;
      div {
        
        color: white;
        // left: 50vw;
        width: 40vw;
        border-radius: 20px 0;
        
        margin: 3% 0;
        background: rgba(255, 255, 255, 0.1);
        padding: 9%;
        

        h2 {
          text-transform: uppercase;
          text-decoration: none;
          font-size: calc(.9rem + .7vw);
          font-weight: unset;
        }
        p{
          font-size: calc(.8rem + .1vw);
        }
        
        
      }
    }
  }


@keyframes aparece {
  0% {
    
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
