footer {
  height: 25vh;
  background-color: #2f2f2f;
  
  
  div{
    height: 25vh;
    align-items: center;
    display: flex;
    justify-content: center;
    
    small{
      color: #5b5e62;
      text-decoration: none;
    }
    a{
      margin: 10%;
      text-decoration: none;
      
      color: #A6ABB2;
      span{
        text-transform: uppercase;
        color: #5b5e62;
      }
    }
  }
}