footer {
  background-color: var(--tertiary);
  
  
  .credits{
    align-items: center;
    display: flex;
    justify-content: center;
    
    small{
      color: #5b5e62;
      text-decoration: none;
    }
    a{
      margin: 10%;
      text-decoration: none;
      
      color: #A6ABB2;
      span{
        text-transform: uppercase;
        color: #5b5e62;
      }
    }
  }
}