.main-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  width: 100vw;
  padding: 0 10vw;
  color: var(--secondary);
  z-index: 10;
  transition: 1s ease-out;
  

  .logo,
  a {
    text-decoration: none;
    color: var(--tertiary);
    text-transform: uppercase;
    cursor: pointer;
    span{
      text-transform: none;
      color: gray;
    }
  }
  
  i{
    
    color: var(--main);
    animation: latidos 800ms ease-out infinite alternate;
  }
  

  .nav-links {
    display: flex;
    list-style: none;

    .nav-link {
      a {
        margin: 0.2rem;
        padding: 1rem 0.5rem;
      }
      a:hover {
        background: rgba(255, 255, 255, 0.2);
      }
    }
  }

  .menu-icon {
    position: relative;
    padding: 26px 10px;
    cursor: pointer;
    z-index: 1;
    display: none;


    &_line {
      display: block;
      position: relative;
      background: var(--main);
      height: 2px;
      width: 20px;
      border-radius: 4px;
      transition: background 0.8s ease;

      &::before,
      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 4px;
        background: var(--main);
        transition: background 0.8s ease;
      }
      &::before {
        transform: translateY(-5px);
      }
      &::after {
        transform: translateY(5px);
      }
    }
  }
  .menu-btn {
    
    display: none;
    
  }
  &.scrolled {
    height: 50px;
    background: rgba(0, 0, 0, 0.7);
    
    .menu-icon {
      &_line,
      &_line::before,
      &_line::after {
        background: #fff !important;
      }
      
    }
    a, .nav-links a{
      color: #fff !important; 
    }
  }
}
@keyframes latidos {
  0% {
		border-color: #0eddc5;
		text-shadow: 0 0 0px rgba(2, 109, 136, 0.2); 
    }	
    100% {
		border-color: var(--main);
		text-shadow: 0 0 15px rgba(7, 184, 184, 1);
    }
}
#conta{
  color: var(--main) !important;
}

