.main-header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 65px;
    width: 100vw;
    padding: 0 10vw;
    color: #000;
    z-index: 10;
    transition:  1s ease-out;

    a{
        text-decoration: none;
        color: inherit;
        text-transform: uppercase;
    }

    .nav-links{
        display: flex;
        list-style: none;
        
        .nav-link{

            a {
                margin: .2rem;
                padding: 1rem .5rem;
            }
            a:hover{
                background: rgba(255,255,255, 0.2);
            }

        }
        
    }

    .menu-icon{
        position: relative;
        padding: 26px 10px;
        cursor: pointer;
        z-index: 1;
        display: none;

        &_line{
            display: block;
            position: relative;
            background: #000;
            height: 2px;
            width: 20px;
            border-radius: 4px;
            transition: background .8s ease;
            

            &::before, &::after{
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                border-radius: 4px;
                background: #000;
                transition: background .8s ease;

            }
            &::before{
                transform: translateY(-5px);
            }
            &::after{
                transform: translateY(5px);

            }
        }
    }
    .menu-btn{
        display: none;

    }
    &.scrolled{
        height: 50px;
        background: rgba(0,0,0, 0.7);
        color: #fff;
    }
    .menu-icon{
        &_line,
        &_line::before,
        &_line::after{
            background: #fff;

        }

    }
}