@media screen and (max-width: 480px) {
  //tamaño de ipod

  .main-header {
    .menu-icon {
      display: block;

      
    }
    
    
    
    .nav-links {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      padding: 10rem 0;
      width: 100vw;
      height: 100vh;
      font-size: 2rem;
      color: #fff;
      background: #272727;
      transition: opacity 1s 1s, clip-path 2s 1s;
      clip-path: circle(200px at top right);
      .nav-link {
        opacity: 0;
        
        width: 100%;
        text-align: center;

        a {
          display: block;
          padding: 2rem 0;
        }
      }
    }
    .menu-btn:checked ~ .nav-links {
      opacity: 1;
      clip-path: circle(100% at center);

      .nav-link {
        opacity: 1;
        
        transition: opacity 2s ease-in-out;
      }
    }
    
  }
  .about-me{
    
      
    #fotoPerfil{
      top: -5vh !important;
      width: 60vw !important;
      left: 35% !important;

    }
    
    
  }
  
  .about-me div .about-me_texto{
    top: -60vh !important;
    
    div{
      align-items: center !important;
      width: 100vw !important;
        left: 0 !important;
        p{
          text-align: justify;
        }
  
    }

  } 
  .banner{
    h1{
      padding: 5% !important;
      top: 25vh;

    }
    
    div {
      
      p{
        font-size: 0%;
      }
      ul{
        
        font-size: 4vw;
        
        
  
      }

    }

    .wordChanger{
      width: 75vw !important;
      justify-content: flex-start !important;
      

    }
    
    
  }
  
  .skillset{
    &:before {
      background-position-x: 50% !important;

    }
    
  }

  .softskills div{

    h4{
      font-size: xx-large !important;
    }

  }
  .iconoskill{
    font-size: 3rem !important;
  }
  .row100{
    grid-template-columns: repeat(auto-fit, minmax(270px , 1fr) ) !important;
  }
  .inputBox input,.text,input[type="submit"]{
    font-size: 15px !important;

  }
  .social {
    bottom: 1.5vh;
    a{
      font-size: 17px !important;
      margin: 3px !important;
      padding: 10px !important;
      width: 294px !important;
      border-radius: 12px !important;}
    

  }
 
  
}
