@media screen and (max-width: 886px) {
  //tamaño de ipod

  .main-header {
    .menu-icon {
      display: block;
    }
    
     
    
    .nav-links {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      padding: 10rem 0;
      width: 100vw;
      height: 100vh;
      font-size: 2rem;
      color: #fff;
      background: #2f2f2f;
      transition: opacity 1s 0s, clip-path 1s 0s;
      clip-path: circle(200px at top right);
      .nav-link {
        opacity: 0;
        
        width: 100%;
        text-align: center;

        a {
          display: block;
          padding: 1rem 0;
        }
      }
    }
    .menu-btn:checked ~ .nav-links{
      opacity: 1;
      clip-path: circle(100% at center);
      
        
      
      .nav-link {
        opacity: 1;
        transition: opacity 1s ease-in-out;
      }
    }
    
   
    
  }
  
  
  
  
  .skillset{
    &:before {
      background-position-x: 50% !important;

    }
    
  }
  .softskills{
    video{
      width: 100vw;
      min-height: 100vh;
    }
    div{

      h4{
        font-size: xx-large !important;
      }
  
    }

  }
  
  .iconoskill{
    font-size: 3rem !important;
  }
  .row100{
    grid-template-columns: repeat(auto-fit, minmax(270px , 1fr) ) !important;
  }
  .inputBox input,.text,input[type="submit"]{
    font-size: 15px !important;

  }
  
 
  
}
