.portfolio {
  position: relative;
  background: var(--secondary);
  overflow: hidden;
  text-align: center;
  height: 100vh;
  z-index: 5;
  .max-width .newOld{

    display: flex;
    position: relative;
    cursor: default;
    bottom: 220px;
    width: 100vw;
    justify-content: space-between;
    padding: 0 10%;
    z-index: 999;
    
    span{
      font-size: x-large;
      color: gray;
    }
  }
  &:before {
    content: "";
    background: url("https://images.pexels.com/photos/39811/pexels-photo-39811.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260") no-repeat center;
    background-size: cover;
    position: absolute;
    z-index: 1;
    display: block;
    opacity: 0.4;
    width: 100%;
    height: 100vh;
  }

  .owl-nav.disabled{
    display: inline;
  }
  .owl-prev, .owl-next{
    position: absolute;
    top: 40vh;
    font-size: 4rem !important;
    z-index: 999;
    color: var(--main)!important;
    font-family: "Montserrat", sans-serif !important;
    transition: all .5s;
  }
  .owl-prev{
    left: 1.5%;
  }
  .owl-next{
    right: 1.5%;
  }
  .owl-prev span, .owl-next span{
    font-family: inherit;
    font-weight: lighter;
  }
  button.owl-prev:hover, button.owl-next:hover{
    transform: scale(1.2);
  }
   
  .carousel {
    position: relative;
    top: -60px;
    padding: 0% 5%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .card {
      background: rgba(0, 0, 0, 0.2);
      border-radius: 6px;
      padding: 15px 40px;
    margin: auto;
    width: max-content;
    //text-align: center;
      transition: all .8s ease;

      &:hover {
        background: rgba(0, 0, 0, 0);
        
        .box {
          transform: scale(0.95);
          a p{
            color: var(--main);
          }
          img {
            // box-shadow: 0 0 10px var(--main);
            cursor: pointer;
            // border: solid 1px var(--main);
            transition: .5s;
          }
        }
      }
      a {
        text-decoration: none;
        color: #5b5e62;
      }
      .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: .8s;
        .text {
          font-size: 25px;
          font-weight: 500;
          margin: 10px 0 7px 0;
          color: white;
        }

        img {
          height: 250px;
          width: 250px;
          object-fit: cover;
          opacity: 0.9;
          border-radius: 3%;
          align-items: center;
          
          
        }
        p{
          color: gray;
        }
      }
    }
  }
}
.owl-dots {
  text-align: center;
  margin-top: 75px;
}
.owl-dot {
  height: 18px;
  width: 18px;
  outline: none !important;
  border-radius: 50%;
  margin-top: 0 5px;
  border: 1px solid var(--main) !important;
  transition: all 0.5s ease;
  &:hover{
    transform: scale(1.1);
    background-color: var(--main)!important;
  }
}
.owl-dot.active {
  width: 35px;
  border-radius: 19px;
  background-color: var(--main)!important;
}
.owl-stage{
    animation: none!important;
}

.modal {
  display: none;
  /* Por defecto, estará oculto */
  position: fixed;
  /* Posición fija */
  z-index: 9999;
  /* Se situará por encima de otros elementos de la página*/
  padding-top: 100px;
  /* El contenido estará situado a 200px de la parte superior */
  left: 0;
  top: 0;
  width: 100%;
  /* Ancho completo */
  height: 100%;
  /* Algura completa */
  overflow: auto;
  /* Se activará el scroll si es necesario */
  background-color: rgba(0, 0, 0, 0.5);
  /* Color negro con opacidad del 50% */

}

.contenido-modal {
  display: flex;
  position: relative;
  /* Relativo con respecto al contenedor -modal- */
  background-color: rgba(0, 0, 0, .8);
  margin: auto;
  /* Centrada */
  overflow: hidden;
  height: 80%;
  width: 70%;
  border-radius: 30px;
  -webkit-animation-name: animarsuperior;
  -webkit-animation-duration: 0.5s;
  animation-name: animarsuperior;
  animation-duration: 0.5s
}

.contenedor-modal-descripcion {

  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  justify-content: space-around;
  padding: 20px 7%;
}

.modal-descripcion-titulo {
  margin: unset;
  padding: unset;
  background: none;
  color: gray;
}

.contenedor-modal-descripcion p {
  text-align: left;
  color: white;
}

.techs {
  background-color: gray;;
  color: var(--secondary);
  border-radius: 2px;
  padding: 2px 6px;
  font-weight: bold;
  text-shadow: solid 1px 1px 0px #006e61;
  text-transform: uppercase;
}

.contenedor-modal-preview {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 50%;
  display: flex;
  overflow: hidden;
  justify-content: center;

}

.modal-image {
  max-width: 100%;
  position: absolute;
  /* aspect-ratio: 4/3; */
  /* object-fit: cover; */
  transition: height 999999999s ease;
  animation: scroll-down 10s linear infinite forwards alternate;
}

.animacion-none {
  animation: none;
  max-width: unset;
  max-height: 100%;
  animation: scale 10s linear infinite forwards alternate;
}

#modal-preview-shadow {
  //background: linear-gradient(to top, #000000, #011b18 23%, transparent 60%);
  height: 100%;
  width: 100%;
  position: absolute;
}

.modal-preview-enlaces {
  position: absolute;
  bottom: 14%;
  right: 13%;
}

.modal-preview-enlaces a {
  padding: 14px 28px;
  border-radius: 12px;
  background: var(--secondary);
  text-decoration: none;
  font-weight: 600;
  color: var(--main);
  &:hover{
    background: var(--main);
    color: var(--secondary);
  }
}


/* Add Animation */
@-webkit-keyframes animarsuperior {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animarsuperior {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes scroll-down {
  0% {
    transform: translatey(0px);
  }

  100% {
    transform: translatey(-50%);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

.cerrar {
  position: absolute;
  color: var(--secondary);
  text-shadow: 0px 9px 7px rgb(9 29 34 / 64%);
  right: 19%;
  top: 19%;
  font-size: 30px;
  font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
  color: var(--main);
  text-decoration: none;
  cursor: pointer;
}
