.social {
  z-index: 4;
  position: fixed;
  bottom: 45vh;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  transform: translate(250px);
  transition: 2s ease-out;
  opacity: 0;
  a {
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    display: block;
    margin: 3px;
    padding: 10px;
    width: 244px;
    text-align: left;
    border-radius: 12px;
    transition: 1s;
    transition-property: transform;
  }

  i {
    margin-right: 10px;
    font-size: 30px;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    transition: .5s ease-out;
  }

  a:nth-child(1) i {
    color: gray;
  }
  a:nth-child(2) i {
    color: var(--main);
  }
  a:nth-child(3) i {
    color: transparent;
    background-image: linear-gradient(45deg, var(--main), #b7a8e7, #735acf);
    -webkit-background-clip: text;
    font-weight: 600;
  }
  a:nth-child(4) i {
    color: var(--main);
  }
  a:nth-child(5) i {
    color: gray;
  }
  a:hover {
    transform: translate(-130px, 0);
    @media screen and (max-width: 480px){
      transform: translate(0);
    }
  }
  a:hover i{
    transform: rotate(0deg);
  }
}





@media screen and (max-width: 760px){
  .social {
    bottom: 1.5vh;
    // a{
    //   font-size: 17px !important;
    //   margin: 3px !important;
    //   padding: 10px !important;
    //   width: 294px !important;
    //   border-radius: 12px !important;}
    

  }
}


