@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import "banner";
@import "header";
@import "media";
@import "portfolio";
@import "about-me";
@import "skillset";
@import "soft-skills";
@import "contact";
@import "social";
@import "footer";
@import "preloader";

.snap{
  scroll-snap-align: start;
}
* {
 
  
  // ::-webkit-scrollbar {
  //   display: none;
    
  // }
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  h3 {
    text-transform: uppercase;
    color: white;
    font-size: 1.5rem;
    z-index: 99;
    text-align: end;
    position: relative;
    z-index: 1;
    padding-top: 4rem;
    padding-right: 10%;
  }
}


