.thanks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: var(--secondary);
  padding: 5%;
  justify-content: center;
  
  h1{
    color:#7C83FD;
    
  }
  h3{
    color: white;
  }
}
#img{
  transform: rotate(8deg);
  width: 25vw;
  animation: sello 4s;
  @media screen and (max-width: 480px) {
    width: 50vw;
    transform: rotate(8deg);
    margin-bottom: 5vh;
  }
}

@keyframes sello{
  0%{width: 200vw; transform: rotate(0deg);}
  95%{width: 25vw; transform: rotate(0deg);}
  100%{transform: rotate(8deg);}
}
