.about-me{
    padding: 3rem;
    display: flex;
    background-color: black;
    
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    
    img{
        
        align-items: center;      
        //border-radius: 100px 0;
        margin: 5rem 2rem; 
        width: 20rem;
        animation: translate 10s ;
        
    }
    .about-me_texto{
        h3{
            color: white;
            font-family: 'Montserrat', sans-serif;
            text-decoration: none;
            font-size: 2rem;
            font-weight: unset;
        }
        p{
            color: white;
        }
        
        
        
    }

}
@keyframes translate {
    0%{
        display: none;
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
        