.portfolio{
    display: block;
    text-align: center;

    h3{
        text-transform: uppercase;
    }
    div{
        display: block;
        button{
            border: none;
            box-shadow: 0 0 10px;
            cursor: zoom-in;
            display: block;
            margin: 1rem auto;
            max-width: 400px;
            overflow: hidden;
            padding: 0;
            position: relative;
        }
    }
}