@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Mouse+Memoirs&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

/********** Body *******/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  width: 100vw;
  

}

/******* Header *******/
header {
  font-size: 2rem;
  color: #e4f9f5;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #11999e;
  padding: 0 2rem;
  letter-spacing: 5px;
  font-family: "Bangers", cursive;
}

/************ Main ************/

.contacto {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Mouse Memoirs", sans-serif;
  color: #e4f9f5;
  letter-spacing: 5px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #40514e;
}
label {
  display: block;
}

form input {
  margin: 10px 0;
  width: 50vw;
  padding: 10px;
  resize: none;
  background-color: #40514e;
  border-style: solid;
  border-radius: 1rem;
  font-size: 1rem;
  letter-spacing: 2px;
  color: #e4f9f5;
}
textarea {
  width: 50vw;
  height: 20vh;
  background-color: #40514e;
  border-style: solid;
  border-radius: 1rem;
  padding: 10px;
  margin: 10px 0;
  font-size: 1rem;
  letter-spacing: 2px;
  color: #e4f9f5;
  
}
.contacto h3 {
  font-size: 3rem;
  font-weight: 700;
  padding: 2rem 0;
}
a {
  color: black;
  text-decoration: none;
}
.contacto-botones {
  display: flex;
}
.contacto-botones a,
.contacto-botones button {
  background-color: #30e3ca;

  text-align: center;
  border-radius: 20px;
  width: 12vw;
  margin: 1rem;
  border: none;
  padding: 10px;
}
.contacto-botones button {
  background-color: grey;
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 1rem;
  letter-spacing: 5px;
}
.info p a {
  color: #30e3ca;
  text-align: center;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

/*********** Footer **********/
footer {
  background-color: #11999e;
  color: #e4f9f5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mouse Memoirs", sans-serif;
  bottom: 0;
  width: 100vw;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  letter-spacing: 5px;
}
.git {
  text-decoration: none;
  color: #e4f9f5;
  font-size: 1.5rem;
  margin-left: 1rem;
}

/********** Responsive ************/
@media screen and (max-width: 768px) {

  main{
    height: 85vh;
  }
  
  .heroes {
    color: white;
    text-align: center;
  }
  footer {
    position: fixed;
    bottom: 0;
    
  }
  footer p{
    font-size: 1rem;
    letter-spacing: 0;
  }
  .contacto{
    align-items: center;
    width: 75vw;
  }
  .contacto-botones a,
  .contacto-botones button,form input,textarea {
    width: 100%;

  }
  label{
    margin-left: 1rem;
  }
}
