@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

:root {
  --primary: linear-gradient(to bottom right, black, #020417,#47375e);;
  --secondary: #8E64C5;
  --app-grey: white;
  
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #020417;
  min-height: 100vh;
  margin: 0;
}

button {
  border: none;
  border-radius: 1em;
  cursor: pointer;
}