@import url("./common.css");
body {
  background: linear-gradient(to bottom right, black, #020417, #47375e);
  background-size: cover;
  margin: 0;
}
#bg {
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  object-fit: contain;
  top: 0;
  overflow: hidden;
}
header {
  display: flex;
  background: #373b5e;
  box-shadow: 0px 3px 5px black;
  padding: 0 3em;
  margin-bottom: 2em;
  /* z-index: 999; */
}

.bgContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -10rem;
  top: 53vh;
  z-index: 21;
  transition: ease-in-out 1.5s;
}
.bgContainer button {
  background-color: #373b5e;
  padding: 1em 2em;
  border-style: none;
  margin-bottom: 4px;
  cursor: pointer;
  border-radius: 10px;
}
.menu-btn {
  display: none;
}
.menu-btn:checked ~ .bgContainer {
  left: -10px;
  transition: ease-in-out 1s;
}

a,
.menu-icon {
  display: block;
  width: fit-content;
  padding: 0.7em 1em;
  border-bottom: 0.2em solid white;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.user-info {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: rgb(223, 223, 223);
}

.user-info p {
  text-transform: capitalize;
}

.user-info .user-image {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-color: white;
  opacity: 0.4;
  margin-left: 0.7em;
}

#closeApp {
  margin-left: 15px;
  font-size: 0.9em;
  background-color: #8e64c5;
  color: white;
  border-radius: 5px;
  padding: 8px 10px;
  cursor: pointer;
}

/* Nueva tarea ----------------------------------------------------------- */

.nueva-tarea {
  position: relative;
  display: flex;
  align-items: center;
  background: #373b5e;
  width: 80%;
  margin: 0 10%;
  padding: 1em;
  box-shadow: 2px 2px 10px black;
  border-radius: 24px;
  z-index: 20;
}

.nueva-tarea input[type="text"] {
  border: none;
  flex: 1;
  border-bottom: 1px solid lightgrey;
  padding: 0.3em;
  font-size: 1.1em;
  background-color: #373b5e;
  color: white;
}

.nueva-tarea input:focus {
  outline: none;
  border-bottom: 1px solid #8e64c5;
}

.nueva-tarea input::placeholder {
  color: lightgrey;
  text-indent: 0.2em;
}

.nueva-tarea button {
  height: 2em;
  width: 2em;
  background-color: transparent;
  margin-left: 2em;
  margin-right: 1em;
  opacity: 0.5;
  cursor: pointer;
  border: none;
}

.nueva-tarea button:hover {
  opacity: 1;
}

.nueva-tarea button i {
  font-size: 2em;
  width: 100%;
  color: #f4f6fd;
}

.not-done {
  width: 2em;
  height: 2em;
  background-color: transparent;
  margin-right: 1em;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  z-index: 999;
}

/* Lista de tareas ----------------------------------------------------------- */

.tareas-pendientes {
  display: flex;
  flex-direction: column;
  width: 70%;
  list-style: none;
  margin: 2em 23%;
}

.tarea {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
}

.tarea .not-done {
  position: relative;
  height: 1.5em;
  width: 1.5em;
  background-color: transparent;
  box-shadow: 2px 2px 5px black;
  border: 2px solid var(--secondary);
  z-index: 999;
  transition: background-color 200ms linear;
}
.fa-check {
  color: #f4f6fd;
  z-index: 998;
  position: absolute;
  left: 5px;
}

.tarea .not-done:hover {
  color: greenyellow;
}

.tarea:first-child .not-done::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: calc(0.75em - 1px);
  display: block;
  height: 3em;
  width: 2px;
  background-color: var(--secondary);
}

.tarea:not(:last-child) .not-done::after {
  content: "";
  position: absolute;
  top: 100%;
  left: calc(0.75em - 1px);
  display: block;
  height: 3.1em;
  width: 2px;
  background-color: var(--secondary);
}

.tarea .descripcion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  background-color: #373b5e;
  padding: 1em 2em;
  box-shadow: 2px 2px 5px black;

  border-radius: 10px;
}

.tarea .nombre {
  color: #f4f6fd;
}
.tarea .nombre::first-letter {
  text-transform: uppercase;
}

.tarea .timestamp {
  font-size: 0.9em;
  color: #f4f6fd;
}

/* Tareas terminadas ----------------------------------------------------------- */

.titulo-terminadas {
  position: relative;
  width: 8em;
  text-align: center;
  padding: 0.5em 1em;
  background-color: #47375e;
  border-radius: 10px;
  box-shadow: 3px 3px 5px black;
  color: #f4f6fd;
  font-weight: 400;
  font-size: 1.1em;
  margin-left: calc(15% - 4em);
  z-index: 20;
}

.tareas-terminadas {
  display: flex;
  flex-direction: column;
  width: 70%;
  list-style: none;
  margin: 2em 15%;
}

.tareas-terminadas i {
  color: grey;
  background-color: rgb(228, 228, 228);
}
.tareas-terminadas button {
  margin-left: 10px;
}

.tareas-terminadas .tarea .descripcion {
  background-color: rgb(228, 228, 228);
}

.tareas-terminadas .tarea .descripcion .nombre {
  color: black;
  text-decoration: line-through;
}

#skeleton .descripcion {
  background-color: rgb(189, 189, 189);
}
#skeleton p {
  background-color: rgb(214, 214, 214);
  color: rgb(214, 214, 214);
}
#skeleton .not-done {
  background-color: rgb(189, 189, 189);
}

#skeleton {
  animation: transparencia 1s infinite;
}
@keyframes transparencia {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.8;
  }
}
