@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@30&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

/********** Body *******/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

main {
  background: linear-gradient(to bottom, #3fc1c9 10%, transparent);
}
.descuento {
  background-color: #3fc1c9;
  text-align: right;
  padding: 3px 2rem 3px;
  font-size: 1rem;
  color: #393e46;
  letter-spacing: 5px;
  font-family: 'Roboto', sans-serif;
}

/******* Header *******/
header {
  font-size: 2rem;
  color: #f5f5f5;
  top: 0;
  z-index: 100;
  background-color: #fc5185;
}
header h1 {
  padding: 0 2rem;
  font-family: 'Roboto', sans-serif;
  text-transform:uppercase;
}
header ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: 5px;
  text-transform:uppercase;
}
header ul li {
  display: inline-block;
}
nav {
  background-color: #3fc1c9;
  text-align: right;
  padding: .5rem 2rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

/******main******/
.container {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  color: #364f6b;
}
.card {
  height: 50%;
  width: 50%;
  padding: 1rem;
  
}

.card-img {
  height: 11.8rem;
  background-size: cover;
  position: relative;
  border-radius: 1rem 1rem 0rem 0rem;
}

.batman {
  background-image: url("../img/fondobatman.svg");
}
.harley {
  background-image: url("../img/fondoharley.svg");
}
.ww {
  background-image: url("../img/wwfondo.svg");
}
.superman {
  background-image: url("../img/supermanfondo.svg");
}
.batman #fotito,
.harley #fotito,
.ww #fotito,
.superman #fotito {
  position: absolute;
  border-radius: 50%;
  bottom: -60px;
  height: 50%;
  left: calc(50% - 50px);
}

.batman #corazon,
.harley #corazon,
.ww #corazon,
.superman #corazon {
  padding: 1.4rem;
  font-size: 2rem;
  color: #fc5185;
}

.card-text {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  background: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  line-height: 2rem;
  height: 400px;
  
  /* line-height: para poner interlineado */
}
h2{
  font-weight: lighter;
  line-height: 2rem;
  text-transform:uppercase;
}
.card-text p {
  padding: 1rem;
  
}
.card-button {
  text-align: center;
}
 .card-button a{
    padding: 1rem;
    color: white;
    display: inline-block;
    text-decoration: none;
    background-color: #00669F;

} 

footer {
  padding: 1rem 2rem;

  background: transparent;
  display: flex;
  justify-content: center;
  color: #364f6b;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
}
.git {
  text-decoration: none;
  color: #364f6b;
  padding-left: 5px;
  
}

/********** Responsive ************/
@media screen and (max-width: 768px) {
  /* tablet */
  .container {
    flex-wrap: wrap;
  }
  .card {
    width: 50vw;
  }
  .descuento {
    background-color: #3fc1c9;
  }
  h1 {
    color: #f5f5f5;
  }
  footer p {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  /* celular  */
  .container {
    flex-direction: column;
  }
  .descuento p{
    text-align: center;
  }
  .card {
    width: 100vw;
    
  }
  nav{
    text-align: center;
    padding: .5rem;
  }
  nav ul li a{
    font-size: 1.5rem;
  }
  h1{
    text-align: center;
  }
  .card-text{
    border-radius: 0rem 0rem 1rem 1rem;
  }
  footer{
    font-size: 1rem;
    padding: 1rem ;
    justify-content: center;
    align-items: center;
  }
  .git{
    font-size: 2rem;
    margin-left: 5px;

  }
  
}
