@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Mouse+Memoirs&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

/********** Body *******/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Mouse Memoirs", sans-serif;
  
}



/******* Header *******/
header {
  font-size: 2rem;
  color: #71C9CE;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #CBF1F5;
  padding: 0 2rem;
  letter-spacing: 5px;
  height: 10vh;
}
h1{
  font-family: "Bangers", cursive;

}

/************ Main ************/
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 25vw;
  color: white;
  letter-spacing: 5px;
  margin-top: 3rem;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #A6E3E9;
  height: 84vh;
  
}
form input,
.entrar-pag,
.registrarse {
  margin: 10px 0;
  width: 100%;
  padding: 10px;
  resize: none;
  border-style: none;
  border-radius: 1rem;
  font-size: 1rem;
  letter-spacing: 2px;
  
}
.login h3 {
  font-size: 3rem;
  font-weight: 700;
  padding: 2rem 0rem;
}

.registrarse {
  color: #00669f;
  text-align: center;
}
a {
  color: black;
  text-decoration: none;
}
.entrar-pag {
  background-color: #1cd1b0;
  font-weight: bold;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
}

/*********** Footer **********/
footer {
  background-color: #71C9CE;
  color: #e4f9f5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mouse Memoirs", sans-serif;
  bottom: 0;
  
  height: 6vh;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  letter-spacing: 5px;
}
.git {
  text-decoration: none;
  color: #e4f9f5;
  font-size: 1.5rem;
  margin-left: 1rem
}

/********** Responsive ************/

@media screen and (max-width: 768px) {

  .login{
    align-items: center;
    width: 50vw;
  }
  
  .heroes {
    
    text-align: center;
  }
  footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    
  }
  footer p{
    font-size: 1rem;
    letter-spacing: 0;
  }
  .contacto{
    align-items: center;
    width: 75vw;
  }
  .contacto-botones a,
  .contacto-botones button,form input,textarea {
    width: 100%;

  }
  label{
    margin-left: 1rem;
  }
}