@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Mouse+Memoirs&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

/********** Body *******/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Mouse Memoirs", sans-serif;
}


/******* Header *******/
header {
  font-size: 2rem;
  color: #71C9CE;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #CBF1F5;
  padding-left: 2rem;
  letter-spacing: 5px;
  height: 10vh;
}
h1{
  font-family: "Bangers", cursive;

}

/************ Main ************/
.registro {
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  letter-spacing: 5px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #A6E3E9;
  height: 84vh;
}
label {
  display: block;
}

form input,
select {
  margin: 10px 0;
  width: 100%;
  padding: 10px;
  resize: none;
  background-color: #71C9CE;
  border-style: none;
  border-radius: 1rem;
  font-size: 1rem;
  letter-spacing: 2px;
  color: white;
}
.registro h3 {
  font-size: 3rem;
  font-weight: 700;
  padding: 2rem 0;
}
a {
  color: white;
  text-decoration: none;
}
.contacto-botones {
  display: flex;
}
.contacto-botones a,
.contacto-botones button {
  background-color: #71C9CE;
  text-align: center;
  border-radius: 20px;
  width: 12vw;
  margin: 1rem;
  border: none;
  padding: 10px;
}
.contacto-botones button {
  background-color: grey;
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 1rem;
  letter-spacing: 5px;
  color: white;
}
.registro p a {
  color: #11999e;
  text-align: center;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

/*********** Footer **********/
footer {
  background-color: #71C9CE;
  color: #e4f9f5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mouse Memoirs", sans-serif;
  bottom: 0;
  width: 100vw;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  letter-spacing: 5px;
  height: 6vh;
}
.git {
  text-decoration: none;
  color: #e4f9f5;
  font-size: 1.5rem;
  margin-left: 1rem
}

/********** Responsive ************/
@media screen and (max-width: 768px) {
  .registro{
    margin-top: 3rem;
    width: 75vw;
    align-items: center;
  }
  form input,
select{
  width: 100%;

}
.contacto-botones a,
.contacto-botones button{
  width: 100%;

}
label{
  margin-left: 1rem;
}
  footer {
    position: fixed;
    bottom: 0;
    letter-spacing: 0;
  }
}
