/*Variables para los colores*/

:root {
  --main: #3c2313;
  --secondary: #ffffff;
  --tertiary: #f0a83e;
}

/*Global*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/*Header Top*/

#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222222;
  color: #f3f3f3;
  height: 3vh;
  font-size: 12px;
}
#top-header p {
  padding-left: 6rem;
}
#top-header div {
  margin-right: 3rem;
}

/*Header Top - Selects*/

.select {
  margin-right: 1rem;
  border: 0px;
  display: inline;
  background-color: #222222;
  color: #faf9f5;
  cursor: pointer;
}

/*Header*/

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--tertiary);
  height: 12vh;
  padding: 0 10%;
}

/*Header - Logo*/

.logo {
  display: flex;
  align-items: center;
  z-index: 2;
}
.logo img {
  width: 1.5rem;
}
#logo-header-uno {
  color: var(--main);
}
#logo-header-dos {
  color: var(--secondary);
}

/*Header - Menu-Nav*/

nav ul li {
  
  list-style: none;
  display: inline;
  font-size: 15.6px;
}
nav ul li a {
  text-decoration: none;
  color: var(--secondary);
  padding: 1.7rem .5rem;
  transition: all .5s;
}
nav ul li a i {
  margin-right: 0.3rem;
  width: 1.2rem;
  transition:all .5s;
}

nav ul li a:hover i{
  
  transform: scale(1.4);
  color: #f0a83e;
}

nav ul li a:hover {
  
  transform: scale(1.4);
  color: #f0a83e;
  background: #3c2313;
  
}

/*Header - Hamburguer-Menu*/

#hamburguer{
  color: var(--secondary);
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/*Main - Banner*/

#banner {
  background-image: url("../img/bowl-and-pet-daities-on-green-background 1.png");
  background-size: cover;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#banner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10vw;
}
#banner-text h1 {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: var(--secondary);
  color: var(--main);
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}
#banner-text P {
  font-size: 19px;
  margin: 1rem 0;
  text-align: center;
}
#banner-text a {
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: var(--tertiary);
  color: var(--secondary);
  font-size: 19px;
  border-radius: 8px;
  text-transform: uppercase;
  transition:all .5s;
}
#banner-text a:hover {
  transform: scale(1.1);
  
  background-color: #3c2313;
  color: #f0a83e;
}

/*Main - Section Categories*/

#product-categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0rem;
}
#product-categories img {
  width: 5rem;
  color: var(--tertiary);
}
#product-categories h2 {
  font-size: 48px;
  font-weight: bold;
  color: var(--main);
  margin-bottom: 2rem;
  text-align: center;
}
#product-categories ul li {
  display: inline;
  font-size: 18px;
  line-height: 18px;
  color: #666666;
  font-weight: 400;
}

/*Main - Section Cards*/

#cards {
  display: flex;
  flex-direction: row;
  justify-content:center;
  margin: 0 10%;
  flex-wrap: wrap;
  gap: 5%;
}
.card {
  display: flex;
  padding-bottom: 1rem;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  background-color: #faf9f5;
  margin: 1.5rem 0;
  border-radius: 25px;
  transition:all .5s;
}
.card:hover{
  transform: scale(1.1);
}
.card img {
  width: fit-content;
  border-radius: 25px;
}
.card p {
  color: var(--main);
  font-weight: bold;
}
.card span {
  color: var(--tertiary);
}

/*Main - Section Form*/

#form {
  text-align: center;
  align-items: center;
  color: var(--main);
  margin: 10%;
}
#form h2 {
  font-size: 30px;
  margin: 1rem;
  font-weight: 700;
}
#data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#data input {
  border: none;
  width: 430px;
  height: 50px;
  margin: 0.3rem;
  background-color: var(--main);
  border-radius: 20px;
  padding-left: 1rem;
  color: #f3f3f3;
}
#data input::placeholder {
  color: var(--secondary);
}
#form form button {
  border: none;
  width: 130px;
  height: 44px;
  margin: 0.5rem;
  border-radius: 20px;
  color: var(--secondary);
  margin-top: 2rem;
  font-size: 19px;
  cursor: pointer;
}
#reset {
  background-color: #8a8787;
}
#send {
  background-color: var(--tertiary);
}

/*Footer*/

footer {
  height: 65vh;
}

/*Footer - Suscription*/

#suscription {
  display: flex;
  background-color: var(--tertiary);
  justify-content: space-between;
  align-items: center;
  padding: 2% 5%;
}
#suscription-title {
  display: flex;
  align-items: center;
}
#suscription-title h3 {
  color: var(--secondary);
  margin-left: 15px;
  font-size: 24px;
}

#suscription-inputs input,
button {
  border: none;
  border-radius: 20px;
}
#suscription-inputs input {
  height: 45px;
  width: 300px;
  padding-left: 4%;
  font-size: .8rem;

}
#suscription-inputs button {
  background-color: var(--main);
  color: var(--secondary);
  height: 40px;
  width: 80px;
  font-size: 11px;
  cursor: pointer;
}

/*Footer - Contact*/

#contact {
  display: flex;
  justify-content: space-between;
  background-color: var(--main);
  align-items: center;
  height: 60vh;
  padding:  5% 5%;
}
/* #container {
    
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #180e08, transparent);
    z-index: 1;
  } */
#data-company {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}
.data-company-items {
  display: flex;
  margin: 2% 0;
}
.data-company-items img {
  width: 4rem;
}
.data-company-items h3 {
  font-size: 1.5rem;
}
.data-company-items p {
  color: #8a8787;
  font-size: 0.8rem;
}

/*Footer - Logo( uso la misma clase "logo" del Header)*/

#logo-footer-uno {
  color: var(--secondary);
}
#logo-footer-dos {
  color: var(--tertiary);
}
.data-company-items div {
  color: var(--secondary);
  margin-left: 3rem;
}

/*Footer - Copyrights*/

#rights {
  background-color: #222222;
  color: var(--secondary);
  font-size: 12px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/*Fixed-Logo (Enlace a mi portfolio)*/

#sticky{
    width: 8rem;
    z-index: 999;
    position: fixed;
    bottom: 50px;
    right: -10vw;
    transition:all .5s;
}
#sticky:hover{
  opacity: 1!important;
}

/*Fixed-Logo Animations*/

@keyframes rolling-in {
    0% {
      transform: translateX(0px) rotate(0deg);
    }
    100% {
      transform: translateX(-53.5vw) rotate(-720deg);
    }
}
@keyframes rolling-back {
    0% {
        transform: translateX(-53.5vw) rotate(720deg);
    }
    100% {
        transform: translateX(-83vw, 500px) rotate(0deg);
    }
}
@media only screen and (max-width: 768px){
    #header nav{
      display: none;
    }
    #hamburguer{
      display: block;
    }
    #top-header{
      display: none;
    }
    .logo{
      font-size: 85%;
    }
    #data input {
      width: 90vw;
    }
    #banner-text h1 {
      font-size: 2rem;
      font-weight: 400;
    }
    #suscription-inputs input {
      width: 60vw;
      font-size: .8rem;
    }
    #suscription{
      flex-direction: column;
    }
    #contact {
      flex-direction: column;
    }
    #data-company{
      order: 2;
    }
}